@theme {
    --color-light: #F3F3F3;
    --color-dark: #111111;
    --color-primary: #DBB454;
    --color-border: #E2E2E2;
    --color-gray: #242626;
    --color-h-primary: #C7A040;
    --color-l-white: #FAFAFA;
    --color-dark-bg: #121212;
    --color-f-bg: #242424;
    --color-light-gray: #D9D9D9;
    --color-gray2: #CDCDCD;
}